body {
    font-family: 'Georgia', serif;
    margin: 0;
    background-color: #f0e6d6;
    color: #333;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #c2b280; /* Antique brown */
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.card {
    display:flex;
    box-sizing: border-box;
    background-origin: padding-box;
    padding: 30px 30px 30px 30px;
    width: 90%;
    height: 100%;
    backdrop-filter: brightness(95%);
    background-position:center;
    flex-direction: column;
    margin: 140px 17%;

} 

a {
    background:#c2b280;
    height: 40px;
    line-height: 40px;
    border-radius:40px ;
    border: none;
    margin: 30px 0px;
    padding: 15px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0,0.3);
    color: white;
}
button {
    background:#c2b280;
    border: none;
    margin: 20px 30%;
    padding: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0,0.3);
    color: white;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #8b6a4b; /* Darker brown on hover */
}

.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h1 {
    font-size: 2em;
}

.main-content p {
    font-size: 1.1em;

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.product-offer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.product-offer img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 1.2em;
}

.discounted-price {
    color: #d9534f; /* Bootstrap danger color */
    font-size: 1.5em;
    margin: 10px 0;
}

.discount-percentage {
    font-weight: bold;
    color: #5cb85c; /* Bootstrap success color */
}
